<!-- bloc-14 -->
<div class="bloc bgc-white bg-adidas-yeezy-boost-350-giveaway-00 d-bloc" id="bloc-14">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-3">
				<img src="img/kanye-west.jpg" class="img-responsive img-frame" />
			</div>
			<div class="col-sm-9">
				<h1 class="mg-md text-center">

				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-14 END -->

<!-- bloc-15 -->
<div class="bloc l-bloc bgc-white" id="bloc-15">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-3">
				<ul class="list-unstyled">
				</ul>
			</div>
			<div class="col-sm-9">
				<h1 class="mg-md text-center ">

					ADMIN PAGE		

					ADMINNY STUFF

				</h1>
				<h3>
					<div ng-show="!user.isAdmin">
						<label>Filter By Order Status:</label>
						<select name="status" ng-model="order.status">
							<option>Created</option>
							<option>Processing</option>
							<option>Shipped</option>
							<option>Fulfilled</option>
							<option>Canceled</option>
						</select>
					</div>
				</h3>
				<order order="order" ng-repeat="order in orders | orderFilter:order.status"></order>
				<ul class="list-unstyled">
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- bloc-15 END -->
