<!-- bloc-5 -->
<div class="bloc l-bloc bgc-white" id="bloc-5">
  <div class="row">
    <div class="col-sm-12" style="border-bottom:1px solid black;">
      <h1 class="mg-md">User Management</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-repeat="user in users" style="border-bottom:1px solid black;">
      <div class="col-sm-4">
        <h4>
          <span>{{ user.email }}  {{ user.password }}</span>
        </h4>
      </div>
      <div class="col-sm-2">
        <a ng-click="toggleAdmin(user)">
          <h5 ng-if="!user.isAdmin">
            <span class="fa fa-bolt text-primary">Make Admin</span>
          </h5>
          <h5 ng-if="user.isAdmin">
            <span class="fa fa-frown-o text-warning">Demote Admin</span>
          </h5>
        </a>
      </div>
      <div class="col-sm-2">
        <a ng-click="removeUser(user)">
          <h5 ng-if="!user.isAdmin">
            <span class="fa fa-ban text-danger">Delete User</span>
          </h5>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- bloc-5 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
