<div class="bloc l-bloc bgc-white" id="bloc-5">
  <div class="row">
   <div class="col-sm-3 pull-left">
    <div class="panel">
      <div class="panel-heading bgc-outer-space">
        <h3 class="mg-clear text-center tc-white sm-shadow">
          Admin
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <div class="btn-group btn-block">
              <a ui-sref="admin" class="btn btn-block btn-sq btn-d btn-clean btn-lg" aria-expanded="false"><span class="fa fa-cubes icon-spacer"></span>Orders</a>
            </div>
          </li>
          <li>
            <div class="btn-group btn-block">
              <a ui-sref="adminUsersList" class="btn btn-d  btn-clean btn-sq btn-lg btn-block"  aria-expanded="true"><span class="fa fa-group icon-spacer"></span>Users</a>
            </div>
          </li>
          <li>
            <div class="btn-group btn-block">
              <a ui-sref="adminProductsList" class="btn  btn-d  btn-lg btn-block btn-clean btn-sq" aria-expanded="false"><span class="fa fa-tag icon-spacer"></span>Inventory</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12 pull-right" style="border-bottom:1px solid black;">
        <h1 class="mg-md">User Management</span></h1>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 pull-right center-block" ng-repeat="user in users | orderBy:'email'" style="border-bottom:1px solid black;">
        <div class="col-sm-3">
          <h5>
            <span> {{ user.email }} </span>
          </h5>
        </div>


        <div class="col-sm-3">
          <a ng-click="toggleAdmin(user)">
            <h5 ng-if="!user.isAdmin">
              <span class="fa fa-bolt text-primary">Make Admin</span>
            </h5>
            <h5 ng-if="user.isAdmin">
              <span class="fa fa-frown-o text-warning">Demote Admin</span>
            </h5>
          </a>
        </div>
        <div class="col-sm-3">
          <a ng-click="toggleNeedsPasswordReset(user)">
            <h5 ng-if="!user.needsPasswordReset">
              <span class="fa fa-fire text-muted">Trigger Password Reset</span>
            </h5>
            <h5 ng-if="user.needsPasswordReset">
              <span class="fa fa-fire-extinguisher text-success">Un-trigger Password Reset</span>
            </h5>
          </a>
        </div>
        <div class="col-sm-3">
          <a ng-click="removeUser(user)">
            <h5 ng-if="!user.isAdmin">
              <span class="fa fa-ban text-danger">Delete User</span>
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>s
<!-- bloc-5 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
