<!-- bloc-5 -->
<div class="bloc l-bloc bgc-white" id="bloc-5">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-2">
						<div class="btn-group btn-block">
							<a href="#" class="btn dropdown-toggle   btn-wire btn-sq wire-btn-outer-space btn-md btn-block" data-toggle="dropdown" aria-expanded="false">Department<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<div class="text-center">
										<a ng-click="department('')" class="a-btn">None</a>
									</div>	
								</li>
								<li>
									<div class="text-center">
										<a ng-click="department('mens')" class="a-btn">Mens</a>
									</div>
								</li>
								<li>
									<div class="text-center">
										<a ng-click="department('womens')" class="a-btn">Womens</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="btn-group btn-block">
							<a href="#" class="btn dropdown-toggle   btn-sq btn-wire btn-md btn-block" data-toggle="dropdown" aria-expanded="false">Brand<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="brand('')" class="a-btn a-block">None</a>
								</li>
								<li ng-repeat="brandName in brands">
									<a ng-click="brand(brandName)" class="a-btn a-block">{{brandName}}</a>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="btn-group btn-block">
							<a href="#" class="btn dropdown-toggle   btn-md btn-wire btn-sq btn-block" data-toggle="dropdown" aria-expanded="true">Style<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="style('')"  class="a-btn a-block">None</a>
								</li>
								<li ng-repeat="styleName in styles">
									<a ng-click="style(styleName)" class="a-btn a-block">{{styleName}}</a>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="btn-group btn-block">
							<a href="#" class="btn dropdown-toggle   btn-md btn-wire btn-sq btn-block" data-toggle="dropdown" aria-expanded="true">Size<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="sizes(null)" class="a-btn a-block">None</a>
								</li>
								<li>
									<a ng-click="sizes(6)" class="a-btn a-block">6</a>
								</li>
								<li>
									<a ng-click="sizes(7)"class="a-btn a-block">7</a>
								</li>
								<li>
									<a ng-click="sizes(8)"class="a-btn a-block">8</a>
								</li>
								<li>
									<a ng-click="sizes(9)"class="a-btn a-block">9</a>
								</li>
								<li>
									<a ng-click="sizes(10)"class="a-btn a-block">10</a>
								</li>
								<li>
									<a ng-click="sizes(11)"class="a-btn a-block">11</a>
								</li>
								<li>
									<a ng-click="sizes(12)"class="a-btn a-block">12</a>
								</li>
								<li>
									<a ng-click="sizes(13)"class="a-btn a-block">13</a>
								</li>
								<li>
									<a ng-click="sizes(14)"class="a-btn a-block">14</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="btn-group btn-block">
							<a href="#" class="btn dropdown-toggle   btn-md btn-wire btn-sq btn-block" data-toggle="dropdown" aria-expanded="true">Sort<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="order('')" class="a-btn a-block">None</a>
								</li>
								<li>
									<a ng-click="order('price', false)" class="a-btn a-block">Price: Lo to Hi</a>
								</li>
								<li>
									<a ng-click="order('price', true)"class="a-btn a-block">Price: Hi to Lo</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<form id="search" novalidate>
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon1">
									<i class="fa fa-search"></i>
								</span>
								<input ng-model="search.$" class="form-control" placeholder="Search" id="searchbar" aria-describedby="sizing-addon1"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row voffset">
			<div ng-repeat="shoe in catalog | sizeSelect: selectedSize | filter:search:strict | orderBy:predicate:reverse" class="col-sm-6">
				<a ui-sref="productsDetail({itemId: shoe.itemId})"><img src="{{shoe.images[0]}}" class="img-responsive fadeIn animDelay02 animated img-frame" /></a>
				<h3 class="mg-md lato">
					<!-- <span class="fa fa-jpy pull-right"> -->
					<span class="pull-right">${{shoe.price}}</span>{{shoe.name}}
				</h3>
			</div>
			<div class="no-items col-sm-12">
				<h1 class="mg-xxl lato text-center fadeIn animated">
					No matching products found.
				</h1>			
			</div>

		</div>
	</div>
</div>
<!-- bloc-5 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

