
<!-- bloc-6 -->
<div class="bloc bgc-white d-bloc shoe-main-img" style="background-image:url({{shoe.images[0]}});"id="bloc-6">
	<div class="container bloc-xxl">
		<div class="row voffset-lg">
			<div class="col-sm-12">
				<h1 class="mg-md text-right tc-outer-space ">
					{{shoe.name}}
				</h1>
				<h1 class="mg-md text-right tc-outer-space ">
					${{shoe.price}}.00
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-6 END -->

<!-- bloc-7 -->
<div class="bloc l-bloc bgc-white" id="bloc-7">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-4">
				<img src="img/adidas-yeezy-boost-350-black-release-reminder.jpg" class="img-responsive img-frame fadeIn animDelay02 animated" />
			</div>
			<div class="col-sm-4">
				<img src="img/adidas-yeezy-boost-350-black-release-reminder-5.jpg" class="img-responsive img-frame fadeIn animDelay04 animated" />
			</div>
			<div class="col-sm-4">
				<img src="img/adidas-yeezy-boost-350-black-release-reminder-1.jpg" class="img-responsive img-frame animDelay06 fadeIn animated" />
			</div>
		</div>
	</div>
</div>
<!-- bloc-7 END -->

<!-- bloc-8 -->
<div class="bloc bgc-outer-space d-bloc" id="bloc-8">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-8">
				<h3 class="mg-md">
					<span class="fa fa-caret-right"></span>{{shoe.name}} by {{shoe.brand}}
				</h3>
				<p>
					{{shoe.description}}
				</p>
			</div>
			<div class="col-sm-2">
				<div class="btn-group btn-block">
					<a href="#" data-toggle="dropdown" aria-expanded="false" class="btn dropdown-toggle   btn-lg btn-block btn-wire btn-sq fadeIn animated">{{selSize}}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="size in sizes" ng-click="selectSize(size)">
							<a href="" class="a-btn a-block">{{size}}</a>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<a ui-sref="cart" ng-click="addItem(shoe, selSize, 1)" class="btn  btn-d  btn-lg btn-block fadeIn animated"><span class="fa fa-shopping-cart icon-spacer pull-right"></span>Add</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-8 END -->

<!-- bloc-9 -->
<div class="bloc bgc-gray-x11-gray l-bloc" id="bloc-9">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-sm sm-shadow  text-center">
					Related
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-9 END -->

<!-- bloc-10 -->
<div class="bloc bgc-gray-x11-gray l-bloc" id="bloc-10">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-2">
				<img src="img/YEEZY-Boost-750-Collaborations-3.jpg" class="img-responsive img-frame" />
			</div>
			<div class="col-sm-2">
				<img src="img/yeezy-boost-750-renderings-0.jpg" class="img-responsive img-frame" />
			</div>
			<div class="col-sm-2">
				<img src="img/yeezy-boost-750-renderings-0.jpg" class="img-responsive img-frame" />
			</div>
			<div class="col-sm-2">
				<img src="img/Yeezy-Boost.jpg" class="img-responsive img-frame" />
			</div>
			<div class="col-sm-2">
				<img src="img/yeezy-350-boost-tan-4.jpg" class="img-responsive img-frame" />
			</div>
			<div class="col-sm-2">
				<img src="img/yeezy-350-boost-tan-4.jpg" class="img-responsive img-frame" />
			</div>
		</div>
	</div>
</div>
<!-- bloc-10 END -->

