<div class="bloc bgc-white bg-Yeezy-Boost d-bloc" id="bloc-11">
  <div class="container bloc-xxl">
    <div class="row login-row">
      <div class="col-sm-4 fill ">
      </div>
      <div class="col-sm-4 fill ">
        <div id="loginForm" class="bg-opaq home-b padding-sm fill">
          <form id="form-2" class="fadeIn animated" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
            <h1 class="mg-md text-center">Login</h1>
            <div class="form-group">
              <label>Email</label>
              <input id="email" class="form-control" type="email" ng-model="login.email" placeholder="Enter email" required />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input id="name" class="form-control" type="password" ng-model="login.password" placeholder="Password" required/>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <alert type="danger" ng-show="error">
              {{ error }}
            </alert>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
