<form id="login-form" name="loginForm" ng-submit="sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<!-- <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input  ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>




<div class="bloc bgc-white bg-Yeezy-Boost d-bloc" id="bloc-11">
    <div class="container bloc-xxl">
        <div class="row">
            <div class="col-sm-4 bg-opaq">
                <h1 class="mg-md text-center">
                    Login with Facebook
                </h1>
                <div class="text-center">
                    <span class="fa fa-facebook sm-shadow icon-cornflower-blue icon-xl icon-semi-rounded-a"></span>
                </div>
            </div>
            <div class="col-sm-4 bg-opaq">
                <form id="form-2" novalidate class="fadeIn animated">
                    <h1 class="mg-md text-center">
                        Login
                    </h1>
                    <div class="form-group">
                        <label>
                            Email
                        </label>
                        <input id="email" class="form-control" type="email" required />
                    </div>
                    <div class="form-group">
                        <label>
                            Password
                        </label>
                        <input id="name" class="form-control" required type="password" />
                    </div> <a class="btn btn-d btn-lg btn-block" href="user.html">Submit</a>
                </form>
            </div>
            <div class="col-sm-4 bg-opaq">
                <span class="empty-column"></span>
            </div>
        </div>
    </div>
</div>

 -->