<!-- bloc-12 -->
<div class="bloc bgc-white bg-Yeezy-Boost d-bloc" id="bloc-12">
  <div class="container bloc-xxl">
    <div class="row">
      <div class="col-sm-4">
        <span class="empty-column"></span>
      </div>
      <div class="col-sm-4">
        <form id="form-2" ng-submit="updatePW(ResetForm)" novalidate>
          <h1 class="mg-md text-center">
            Password Reset
          </h1>
          <h5 class="mg-md text-center">
            Please enter a new password below:
          </h5>
          <div class="form-group">
            <label>
              New Password
            </label>
            <input id="name" class="form-control" type="password" ng-model="ResetForm.password" required/>
          </div>
          <div class="form-group">
            <label>
              Confirm Password
            </label>
            <input id="name" class="form-control" type="password" ng-model="ResetForm.password2" required/>
          </div>
          <button class="bloc-button btn btn-d btn-lg btn-block" type="submit">
            Reset
          </button>
        </form>
      </div>
      <div class="col-sm-4">
        <span class="empty-column"></span>
      </div>
    </div>
  </div>
</div>
<!-- bloc-12 END -->
