<div class="bloc l-bloc bgc-white bg-maxresdefault">
    <div class="container bloc-xxl">
        <div class="row">
            <div class="col-lg-12" id="cartView">
                <div class="col-sm-offset-1 col-sm-10" id="cartAllProducts">
                    <h1 class="lato" ng-click = "toggleUser()">Your Cart</h1>
                    <table class='table table-responsive'>
                        <thead>
                            <tr>
                                <th class="prod-img">Product</th>
                                <th>Details</th>
                                <th class="prod-qty">Quantity</th>
                                <th class="prod-price">Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in CartFactory.cart">
                                <td class="prod-img">
                                    <a ui-sref="productsDetail({itemId:item.product.itemId})"><img src="{{item.product.images[0]}}" class="img-responsive img-frame table-image" /></a>
                                </td>
                                <td>
                                    <p><b>{{item.product.name}}</b></p>
                                    <p>Size: {{item.size}}</p>
                                </td>
                                <td class="prod-qty">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" 
                                                    ng-click = "CartFactory.editQty(item.product._id, item.size, +item.quantity-1)" 
                                                    type="button">-</button>
                                        </span>
                                        <input id = "qty-form" type="text" class="form-control" ng-model="item.quantity"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click = "CartFactory.editQty(item.product._id, item.size, +item.quantity+1)"  type="button">+</button>
                                        </span>
                                    </div>
                                </td>
                                <td class="prod-price">
                                    <p>${{item.product.price}}</p>
                                </td>
                                <td id="delete">
                                    <a ng-click="CartFactory.removeItem(item.product._id, item.size)" type="button">X</a>
                                </td>
                            </tr>
                            <tr id = "empty-cart" ng-if="CartFactory.cart.length === 0">
                                <td/>
                                <td><h1 class="lato">Start Shopping!</h1></td>
                                <td/>
                                <td/>
                                <td/>
                            </tr>
                            <tr>
                                <td/>
                                <td/>
                                <td/>
                                <td class="prod-price"><b>Total: ${{CartFactory.getTotal()}}</b></td>
                                <td/>
                            </tr>
                            <tr>
                                <td/>
                                <td/>
                                <td/>

                                <td class="prod-price"><button ng-disabled="CartFactory.cart.length === 0" ui-sref = "payment" class = "btn btn-sq btn-electric-blue">Checkout</button></td>
                                <td/>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
